@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%, #22223b);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
    animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
    to {
        transform: rotate(1turn);
    }
}



.numb {
    padding: 1rem;
    margin: 1rem;
    background-color: red;
    font-size: large;
    font-weight: 900;
    color: wheat;

}

.container {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn {
    border: .1rem solid #000000;
    border-radius: 1rem;
    padding: 1rem;
    background: gold;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
    background-color: #0f0e0e;
}



.landing-cloud-1 {

    will-change: transform, filter;
    transform: translate3d(7.88544vw, 14.9819vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0.71936deg) skew(-27.2749deg, -11.9838deg);
    transform-style: preserve-3d;
    filter: hue-rotate(40.464deg);
    width: 100vw;

}

.landing-cloud-2 {

    will-change: transform, filter;
    transform: translate3d(-12.046vw, 14.9819vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(3.06424deg) skew(27.2436deg, -11.9838deg);
    transform-style: preserve-3d;
    filter: hue-rotate(172.363deg);
    width: 100vw;
}


.footer-bg {
    background-color: transparent;
}

.navbar {

    background: rgba(0, 0, 0, 0.7);
    /* Adjust the opacity as needed */
    backdrop-filter: blur(5px);
    /* /* Adjust the blur intensity as needed *} */
}