
* {
    margin: 0%;
    padding: 0%;
}

.container {
    padding-top: .1rem;
}

.logo img {
    height: 38px;
    width: 37px;
    margin: 0px 6px;
    border: 2px solid black;
    border-radius: 89px;
}

#nav {
    display: flex;
    background: linear-gradient(90deg, rgba(226, 226, 237, 1) 0%, rgba(250, 118, 118, 1) 35%, rgba(90, 104, 223, 1) 100%);
}

#nav ul {
    display: flex;
}

#nav ul li {
    list-style: none;
    margin: 0.7rem 0;
}

#nav ul li a {
    font-size: 0.9rem;
    margin: 4px 4px;
    padding: 4px;
    color: rgb(0, 0, 0);
    border-radius: 22px;
    text-decoration: none;
}

#nav ul li a:hover {
    font-size: 1rem;
    margin: 5px;
    padding: 6px;
    color: #0050fb;
    border-radius: 12px;
}

.login {
     
    color: rgb(235, 234, 229);
    margin: 0.5rem 1.5rem 1rem 1.5rem;
    padding: 4px;
    cursor: pointer;
    background-color: black;
    border-radius: 6px;
    float: right;
    clear: both;
    position: absolute;
    right: 3rem;
    clear: right;
}

.login:hover {
    background-color: rgb(226, 220, 220);
    color: rgb(9, 9, 9);
    cursor: pointer;
    border-radius: 10px;
}

.signup {
     
    clear: right;
    color: rgb(227, 227, 219);
    margin: .5rem 1rem;
    padding: 4px;
    cursor: pointer;
    background-color: black;
    border-radius: 6px;
    float: right;
    position: absolute;
    right: -4px;
}

.signup:hover {
    background-color: rgb(227, 227, 232);
    color: rgb(9, 9, 9);
}

.maincontent {
    
    display: flex;
        margin: 1rem;
}

.head {
    font-size: 230%;
    margin: 0.3rem;
    padding: .5rem;
     
}

#headpara {
    margin: 1.1rem;
}

#photographer {
    padding-left: 3rem;
    font-family: 'Silkscreen', cursive;
}

#img1 {
    text-align: center;
}

.img {
    width: 100%;
}

.images {
    margin-top: .2rem;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    font-family: 'Rubik Dirt', cursive;
}

.box {
max-width: 30%;
    PADDING: 1REM;
    BORDER: .1REM SOLID BURLYWOOD;
    BORDER-RADIUS: 1REM;
    max-height: 56%;
    margin: 0rem 2rem;
    FONT-FAMILY: monospace;
    TEXT-ALIGN: center;
}

.allimages {
    width: 100%;
    height: 7rem;
}

footer {
    text-align: center;
    color: wheat;
    background-color: black;
}

.head2 {
    font-size: 2rem;
    margin-top: 3rem;
    padding-left: 1rem;
    background-color: rgb(18, 19, 19);
    color: rgb(236, 240, 232);
     
}

.content-para-head {
    text-align: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 3rem;
    display: block;
}

#content-para {
    text-align: center;
    align-items: center;
    font-size: 1rem;
    padding: 1rem 3rem;
    margin: 1rem;
}

.equipments {
    background-color: black;
    color: white;
    padding: 1rem;
}

.head-equipments {
    font-size: 2rem;
    padding: 1rem;
    padding-left: 0;
    TEXT-ALIGN: center;
}

.head-equipments-para {
    font-size: 1rem;
    padding-bottom: 1rem;
}

.heads-equipments {
    margin: 1rem 0;
    font-size: 1.7rem;
    border-bottom: 2px solid red;
}

.tips {
    background-color: rgb(251, 251, 251);
    padding: 1rem;
}
.button a{
        text-decoration: none;
}
.tips-head {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.tips-head-para {
    padding-left: 1rem;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.tips-lists {
    font-size: 1.8rem;
    padding-left: 1rem;
    list-style: inside;
}

.tips-list-para {
    padding: 1rem;
    padding-left: 4rem;
}

.hamburg {
    color: blue;
    font-size: 1.3rem;
    background-color: #ffffff;
    border: 2px solid firebrick;
    display: none;
}

@media only screen and (max-width: 570px) {

    body {
        width: fit-content;
    }

    #nav {
        transition: all 0.3s ease-out;
        width: fit-content;
        background: none;
    }

    .visibality-class {
        opacity: 0;
    }

    #nav ul {
        display: flex;
        text-align: center;
        flex-direction: column;
        padding: 0 112%;
    }

    .h-nav {
        width: 100%;
    }

    .visibality-class {
        opacity: 0;
    }

    .hamburg {
        display: inline;
        position: absolute;
        cursor: pointer;
        top: 0.5rem;
        left: 4rem;
        border: none;
        background: none;
    }

    .login {
        position: fixed;
    }

    .signup {
        position: fixed;
    }
}

.box2 img{
    border-radius: 2rem;
}

.button{
    text-align: center;
    margin: 1rem;
}

.contactus{margin: .1rem;
    padding: 0.3rem;
    border-radius: 1rem;
    background: transparent;
}
.s{
        margin: 0 2rem;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
   font-size: 12px;
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.about-us {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 90px 0;
    background: #fff;
}
.pic{
        height: 12rem;
            width: 12rem;
}
.picc {
    height: auto;
    width: 400px;
    border-radius: 12px;
}

.about {
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text {
    width: 540px;
}

.text h2 {
    color: #333;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
}

.text h5 {
    color: #333;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

span {
    color: #4070f4;
}

.text p {
    color: #333;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
}

.data {
    margin-top: 30px;
}

.hire {
    font-size: 18px;
    background: #4070f4;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    transition: 0.5s;
}

.hire:hover {
    background: #000;
}